@{
  Layout = "_Layout";
}

@model RegistrarTracker.Models.Course

<h4>Add a new course</h4>

<p><strong>NOTE:</strong> You need to have at least one Department before you can add an course!</p>
<p>Go to @Html.ActionLink("this page", "Create", "Departments") to create a Department.</p> 

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.CourseName, "Course Name: ")
  @Html.TextBoxFor(model => model.CourseName)

  @Html.LabelFor(model => model.CourseCode, "Course Code: ")
  @Html.TextBoxFor(model => model.CourseCode)

  @Html.LabelFor(model => model.Department, "Department: ")
  @Html.DropDownList("DepartmentId")

  <input type="submit" value="Add new Course" />
}
<p>@Html.ActionLink("Show all Courses", "Index")</p>
<p>@Html.ActionLink("Return Home", "Index", "Home")</p>