@{
  Layout = "_Layout";
}

@model RegistrarTracker.Models.Course

<h2>Edit</h2>

<h4>Edit this course: @Html.DisplayFor(model => model.CourseName)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.CourseId)

  @Html.LabelFor(model => model.CourseName, "Course Name: ")
  @Html.EditorFor(model => model.CourseName)

  @Html.LabelFor(model => model.CourseCode, "Course Code: ")
  @Html.EditorFor(model => model.CourseCode)

  @Html.LabelFor(model => model.Department, "Department: ")
  @Html.DropDownList("DepartmentId")

  <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list of courses", "Index")</p>
<p>@Html.ActionLink("Return Home", "Index", "Home")</p>