@{
  Layout = "_Layout";
}

@model RegistrarTracker.Models.Student

<h4>Add a new student</h4>

<p><strong>NOTE:</strong> You need to have at least one Department before you can add a Student!</p>
<p>Go to @Html.ActionLink("this page", "Create", "Departments") to create a Department.</p>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.StudentName)
  @Html.TextBoxFor(model => model.StudentName)

  @Html.LabelFor(model => model.Enrollment)
  @Html.EditorFor(model => model.Enrollment)

  @Html.LabelFor(model => model.Department)
  @Html.DropDownList("DepartmentId")

  <input type="submit" value="Add new student"/>
}
<p>@Html.ActionLink("Show all Students", "Index")</p>
<p>@Html.ActionLink("Return Home", "Index", "Home")</p>